<% content_for :title, "Execution Report" %>
<div class="odin"></div>
<div class="main_container">

  <%= render "shared/side_menu" %>

  <div class="detail_header_container">
    <div class="detail_header_text_block">
      <% if @execution.result =~/passed/ %>
        <div class="detail_header_case_name_block">
          <i class="fa fa-smile-o" style="font-size:22.5px;margin-right:5px;color:#55DAE1"></i><%=@execution.case_name.upcase%>
        </div>
        <div class="detail_header_case_path_block">
          <%=@execution.location%>
        </div>
      <%else%>
        <div class="detail_header_case_name_block">
          <i class="fa fa-bug" style="font-size:22.5px;margin-right:5px;color:red"></i><%=@execution.case_name.upcase%>
        </div>
        <div class="detail_header_case_path_block">
          <%=@execution.location%>
        </div>
      <%end%>
    </div>
    <div class="detail_header_author_block">

    </div>
  </div>

  <div class='info_container'>
    <% if @sshots.size != 0 %>
      <div class="report_image_container">
        <% @sshots.each_with_index  do |page,index|
          if index==0
            if @sshots.size > 4 %>
              <div class="report_image_cell_expand_button" onclick="show_report_image_full_panel()"><i class="fa fa-ellipsis-h"></i></div>
            <%end%>
          <% end %>

          <% if index == (@sshots.size - 1)
              if @execution.result =~ /failed/ %>
                <div class="report_image_cell" onmouseover="$('#last_report_image').css('opacity','0.95');console.log($('#last_report_image'))" onclick="enlarge_report_image('report_image_<%=index%>')">
                  <%= image_tag page.avatar_url, :id => "report_image_#{index}", :class => "report_image_cell last-child" %>
                  <img class="report_image_cell last-child-overlay" src="/assets/epic_fail.png" >
                </div>
              <% else %>
                <%= image_tag page.avatar_url, :class => "report_image_cell" , :id => "report_image_#{index}" , :onclick => "enlarge_report_image(this.id)"%>
              <%end%>
              <%next%>
          <% end %>

          <% if @sshots.size > 4 && index < (@sshots.size - 4)
            next %>
          <% else %>
          <%= image_tag page.avatar_url, :class => "report_image_cell" , :id => "report_image_#{index}" , :onclick => "enlarge_report_image(this.id)"%>
            <div class="report_image_cell_separator"><i class="fa fa-chevron-right"></i></div>
          <% end %>

        <% end %>
      </div>
    <%end%>

    <div class="report_graph_container">
        <canvas id="executionHistoryChart" height="255px" width="450px"></canvas>
        <canvas id="latestExecutionChart" height="255px" width="450px"></canvas>
        <div id="executionHistoryLegend"></div>

        <div id="latestExecutionLegend"></div>
    </div>

    <div class="report_log_container">
      <!-- TAB TEMPLATE -->
      <svg height="0" width="0" style="position: absolute; margin-left: -100%;">
        <path id="tab-shape" class="tab-shape" d="M116.486,29.036c-23.582-8-14.821-29-42.018-29h-62.4C5.441,0.036,0,5.376,0,12.003v28.033h122v-11H116.486
            z">
      </svg>


      <%if @execution.result =~ /failed/%>
        <nav class="log-navigation">
          <ul>
            <li id="errorTab" class="tab-1 active" onclick="switch_tab_fail(this.id)">
              <a style="cursor:pointer">
                <span>Error Log</span>
                <svg viewBox="0 0 122 40">
                   <use xlink:href="#tab-shape"></use>
                </svg>
              </a>
            </li>
            <li id="spiraTab" class="tab-2" onclick="switch_tab_fail(this.id)">
              <a style="cursor:pointer">
                <span>Spira TC</span>
                <svg viewBox="0 0 122 40">
                  <use xlink:href="#tab-shape"></use>
                </svg>
              </a>
            </li>
            <li id="logTab" class="tab-3" onclick="switch_tab_fail(this.id)">
              <a style="cursor:pointer">
                <span>User Log</span>
                <svg viewBox="0 0 122 40">
                  <use xlink:href="#tab-shape"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

        <div id="errorlog" class="errorLog-content">
          <div class="errorInfo">
  <pre>
<%=parse_exception_to_error(@execution.exception)%>
  </pre>
          </div>
          <div class="errorTestCase">
            <textarea id='code'>
<%=parse_exception_to_user_case(@execution.exception)%>
            </textarea>
          </div>
        </div>

        <div id="spiralog" class="spiraLog-content" style="display:none"></div>

        <div id="userlog" class="userLog-content" style="display:none">
          <%if @execution.log %>
            <table><tbody>
              <% @execution.log.split("\n").each do |line| %>
                <tr>
                  <td>
                  <%=line%>
                </td></tr>
              <% end %>
            </tbody></table>
          <% end %>
        </div>
      <!--End if first failed condition-->
      <%else%>
        <nav class="log-navigation">
          <ul>
            <li id="spiraTab" class="tab-2" onclick="switch_tab_pass(this.id)">
              <a style="cursor:pointer">
                <span>Spira TC</span>
                <svg viewBox="0 0 122 40">
                  <use xlink:href="#tab-shape"></use>
                </svg>
              </a>
            </li>
            <li id="logTab" class="tab-3 active" onclick="switch_tab_pass(this.id)">
              <a style="cursor:pointer">
                <span>User Log</span>
                <svg viewBox="0 0 122 40">
                  <use xlink:href="#tab-shape"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

        <div id="spiralog" class="spiraLog-content" style="display:none"></div>
        <div id="userlog" class="userLog-content">
          <%if @execution.log %>
            <table><tbody>
              <% @execution.log.split("\n").each do |line| %>
                <tr>
                  <td>
                  <%=line%>
                </td></tr>
              <% end %>
            </tbody></table>
          <% end %>
        </div>
      <%end%>

    </div>
  </div>
</div>



<div class="report_image_large_view_box" id="report_image_large_view_box"></div>
<% if @sshots %>
<div class="report_image_full_panel_grey_layer" id="background_grey_layer">
  <div class="report_image_full_panel" id='report_image_full_panel'>
    <div class="report_image_full_panel_close_btn" onclick="hide_report_image_full_panel()"><i class="fa fa-times-circle-o"></i></div>
    <% @sshots.each_with_index  do |page,index|
         if (index.modulo(4) == 0)
            if index == 0 %>
              <div class="report_image_container fullview">
            <% else %>
              </div><div class="report_image_container fullview">
            <% end %>
          <%end%>

          <% if index == (@sshots.size - 1)
              if @execution.result =~ /failed/ %>
              <div class="report_image_cell" onmouseover="$('#last_report_image').css('opacity','0.95');console.log($('#last_report_image'))" onclick="enlarge_report_image('report_image_<%=index%>')">
                <%= image_tag page.avatar_url, :id => "report_image_#{index}", :class => "report_image_cell last-child" %>
                <img class="report_image_cell last-child-overlay" src="/assets/epic_fail.png" >
              </div>
              <% else %>
              <%= image_tag page.avatar_url, :class => "report_image_cell" , :id => "report_image_#{index}" , :onclick => "enlarge_report_image(this.id)"%>
              <%end%>
              <%next%>
          <% end %>

          <%= image_tag page.avatar_url, :class => "report_image_cell" , :id => "report_image_#{index}" , :onclick => "enlarge_report_image(this.id)"%>
          <div class="report_image_cell_separator"><i class="fa fa-chevron-right"></i></div>
      <% end %>
  </div>
</div>
<% end %>
