<% content_for :title, "Session" %>
<div class="tonberry"></div>

<div id="spira_logo" class="spira_logo">

   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" class="logo"><path d="M50.07,0.212c-27.614,0-50,22.384-50,49.999c0,9.157,2.474,17.731,6.77,25.111L2.044,98.237l22.917-4.796
  c7.381,4.297,15.954,6.768,25.109,6.768c27.614,0,50-22.385,50-49.999C100.07,22.596,77.684,0.212,50.07,0.212z" class="bubble"/><path d="M30.991,65.689c-0.594,0-1.188-0.227-1.642-0.681L16.192,51.852c-0.436-0.436-0.679-1.024-0.679-1.642
  c0-0.616,0.245-1.206,0.679-1.642l13.158-13.157c0.906-0.906,2.376-0.906,3.282,0s0.906,2.376,0,3.282L21.116,50.21l11.517,11.518
  c0.906,0.905,0.906,2.376,0,3.281C32.18,65.463,31.585,65.689,30.991,65.689z" class="icon"/><path d="M69.15,65.689c-0.594,0-1.188-0.227-1.641-0.679c-0.905-0.907-0.905-2.375,0-3.283L79.024,50.21
  L67.51,38.694c-0.905-0.906-0.905-2.375,0-3.282c0.907-0.907,2.376-0.905,3.283,0l13.155,13.157c0.906,0.906,0.906,2.376,0,3.282
  L70.793,65.009C70.337,65.463,69.744,65.689,69.15,65.689z" class="icon"/><path d="M40.201,65.689c-0.485,0-0.973-0.15-1.391-0.464c-1.025-0.769-1.233-2.225-0.464-3.249l19.737-26.315
  c0.768-1.026,2.223-1.234,3.25-0.465c1.025,0.77,1.232,2.225,0.463,3.25L42.06,64.761C41.603,65.369,40.906,65.689,40.201,65.689z" class="icon"/></svg>
  <div class="spira_name">SPIRA</div>
</div>
<div class="exec_time_full_screen_grey_layer" id='exec_time_full_screen_grey_layer'>
  <div class='full_calendar_close_btn' onclick="close_full_calendar()"><i class="fa fa-times-circle-o"></i></div>
    <div id='full_calendar' class="full_calendar"></div>

  <div class="full_calendar_execution_info" id="full_calendar_execution_info">
    <img  class='full_calendar_execution_info_device' id="full_calendar_execution_info_detail_text1"></img>
    <div class="full_calendar_execution_info_detail_block">
      <div class="full_calendar_execution_info_detail_text" id="full_calendar_execution_info_detail_text2"></div>
      <div class="full_calendar_execution_info_detail_text" id="full_calendar_execution_info_detail_text3"></div>
      <div class="full_calendar_execution_info_detail_text" id="full_calendar_execution_info_detail_text4"></div>
      <div class="full_calendar_execution_info_detail_text" id="full_calendar_execution_info_detail_text5"></div>
    </div>
  </div>
</div>

<div class="main_container" >

  <%= render "shared/side_menu" %>

  <div class="detail_header_container">
    <div class="detail_header_text_block">
        <div class="project_name_block"><i class="fa fa-rocket" style="font-size:22.5px;margin-right:5px;color:#55DAE1"></i> <%=@session.project.name%></div>
        <div class="project_execution_time_block"><i class="fa fa-clock-o" color="#01AEF2"></i> <%=parse_date(@session.start_time)%></div>
    </div>
    <div class="detail_header_info_block">
        <% if @session.browser =~ /chrome/i %>
          <img src='/assets/chrome-icon.png' class='detail_execution_device'></img>
        <% elsif @session.browser =~ /(firefox|firefox_no_js)/i%>
          <img src='/assets/firefox-icon.png' class='detail_execution_device'></img>
        <% elsif @session.browser =~ /ie/i%>
          <img src='/assets/ie-icon.png' class='detail_execution_device'></img>
        <% elsif @session.browser =~ /android/i%>
          <img src='/assets/Android.png' class='detail_execution_device'></img>
        <% end %>
      <div class="detail_execution_env_info">
          <div class="detail_execution_text_box">Selenuim: v<%=@session.selenium_version%></div>
          <div class="detail_execution_text_box">Tlib: v<%=@session.tlib_version%></div>
      </div>
    </div>
  </div>

  <div class='info_container' onmouseover='dismiss_detail_exec_time()'>
    <div id="sessionGraph" class="report_graph_container">
        <canvas id="sessionStatusChart" height="255px" width="350px" onclick="filterBySessionStatus(event)"></canvas>
        <canvas id="sessionFolderChart" height="255px" width="550px" onclick="filterBySessionLocation(event,true,'NONE')"></canvas>
        <div id="sessionStatusLegend" style="width:850px"></div>
    </div>

    <div class="home_report_list_container">
      <!--==============================================================================================-->
      <div id="session_table_tag_view" class="session_table_tag_view" >
          <div id="session_status_tag_view" style="display:inline-block;"></div>
          <div id="session_path_tag" class="path_tag_container"></div>
      </div>
      <!--==============================================================================================-->
      <table id="sessionTable" class="display" cellspacing="0" width="100%">
          <thead>
              <tr>
                <th>Case Name</th>
                <th>Method Name</th>
                <th>Duration(sec)</th>
                <th>Spira ID</th>
                <th>Status</th>
                <!--th>Location</th-->
              </tr>
          </thead>
          <tbody id="sessionTableBody">
            <% @executions.each do |exec| %>
              <tr id="ses_<%=exec.id%>" rel="tooltip" title="Double click to see execution detail" style="cursor:pointer" onclick="highlight_session_row(this.id)" ondblclick="window.open('/execution/<%=exec.id%>','_blank')">
                  <td><%=exec.case_id%></td>
                  <td rel="tooltip" title="<%=exec.location%>"><%=exec.case_name%></td>
                  <td><%=exec.duration.round()%></td>
                  <td><%= exec.spira_case_id.empty? ? "N/A" : exec.spira_case_id %></td>
                  <% if exec.result =~/passed/i %>
                    <td style="color:rgba(70, 191, 189,0.5)"><%=exec.result.capitalize %></td>
                  <%else%>
                    <td style="color:rgba(247, 70, 74,0.9)"><%=exec.result.capitalize %></td>
                  <%end%>
                  <!--td style="text-align:center" rel="tooltip" title="<%=exec.location%>"><i class="fa fa-folder-o"></i></td-->
              </tr>
            <%end%>
          </tbody>
        </table>
    </div>
  </div>
