  <nav class="side_bar" >
    <img src="/assets/WF-EN-C-L-W.gif" alt="some_text" width=60% style="margin-top:10px;margin-left:10px">
    <div class="time_selection_bar" >
      <% if @sessionHistory %>
        <% @sessionHistory.keys.sort.each do |m_key| %>
          <div class='time_month'><%=parse_month(m_key)%></div>
          <% @sessionHistory[m_key].keys.sort.each do |d_key| %>
            <div class="time_date" id="time_<%=m_key%>_<%=d_key%>" onmouseover="show_detail_exec_time(this.id,'display_<%=m_key%>_<%=d_key%>')"><%=parse_day(d_key)%></div>
            <% @sessionHistory[m_key][d_key].each do |ses| %>
            <div class="detail_exec_time_block"  id="display_<%=m_key%>_<%=d_key%>" style="display:none">
              <div class="one_single_exec" onclick="window.open('/session/<%=ses.id%>','_self')">
                <div class="exec_time"><i class="fa fa-clock-o" color="#01AEF2"></i> <%=parse_time(ses.start_time)%></div>
                <div class="exec_pass_fail"><font color="#01AEF2"><i class="fa fa-bar-chart-o"></i></font> <font class="ypv_pass"><%=ses.executions.collect{|e| e.result=~/pass/i ? 1 : 0}.sum%></font><font color="#999">/</font><font class="ypv_fail"><%=ses.executions.collect{|e| e.result=~/pass/i ? 0 : 1}.sum%></font><font color="#999">/</font><font color="#ccc"><%=ses.executions.size%></font></div>
              </div>
            </div>
        <% end end
        end %>
      <div class='time_extra' onclick="show_full_calendar()"><i class="fa fa-calendar-o"></i></div>
      <% end %>

      <% if @executionHistory %>
        <% @executionHistory.keys.sort.each do |m_key| %>
          <div class='time_month'><%=parse_month(m_key)%></div>
          <% @executionHistory[m_key].keys.sort.each do |d_key| %>
            <%if d_key == @execution.created_at.day%>
              <div class="time_date" style="color:red" id="time_<%=m_key%>_<%=d_key%>" onmouseover="show_detail_exec_time(this.id,'display_<%=m_key%>_<%=d_key%>')"><%=parse_day(d_key)%></div>
            <%else%>
              <div class="time_date" id="time_<%=m_key%>_<%=d_key%>" onmouseover="show_detail_exec_time(this.id,'display_<%=m_key%>_<%=d_key%>')"><%=parse_day(d_key)%></div>
            <%end%>
            <% @executionHistory[m_key][d_key].each do |x| %>
              <div class="detail_exec_time_block" id="display_<%=m_key%>_<%=d_key%>" style="display:none">
                <div class="one_single_exec" onclick="window.open('/execution/<%=x.id%>','_blank')">
                  <div class="exec_time"><i class="fa fa-clock-o" color="#01AEF2"></i> <%=x.created_at.strftime("%H:%M:%S")%></div>
                  <div class="exec_pass_fail">
                    <% if x.result=~/pass/i %>
                      <font class="ypv_pass"><i class="fa fa-smile-o"></i></font>
                    <%else%>
                      <font class="ypv_fail"><i class="fa fa-bug"></i></font>
                    <%end%>
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>
        <% end %>
        <div class='time_extra'></div>
      <% end %>
    </div>
  </nav>
