  <nav class="side_bar" >
    <img src="/assets/WF-EN-C-L-W.gif" alt="some_text" width=60% style="margin-top:10px;margin-left:10px" onclick="window.location.href='http://www.yellowpages.ca'">
<!--     <% if @sessionHistory %>
      <div class="side_bar_cell" ref='tooltip' title='Display status graph view' onclick="window.open('/status_center/show?id=<%=@session.project.id%>','_blank')">
        <i class="fa fa-line-chart"></i>
      </div>
    <%end%> -->
    <div class="time_selection_bar" >
      <% if @sessionHistory %>
        <% @sessionHistory.keys.sort.reverse.each do |m_key| %>
          <div class='time_month'><%=parse_month(m_key)%></div>
          <% @sessionHistory[m_key].keys.sort.reverse.each do |d_key| %>
            <div class="time_date" id="time_<%=m_key%>_<%=d_key%>" onmouseover="show_detail_exec_time(this.id,'display_<%=m_key%>_<%=d_key%>')"><%=parse_day(d_key)%></div>
            <div class="detail_exec_time_block"  id="display_<%=m_key%>_<%=d_key%>" style="display:none">
            <% @sessionHistory[m_key][d_key].each do |ses| %>

              <div class="one_single_exec" onclick="window.open('/session/<%=ses.id%>','_self')">
                <% if ses.browser =~ /chrome/i %>
                  <img src='/assets/chrome-icon.png' class='detail_execution_device_report'></img>
                <% elsif ses.browser =~ /(firefox|firefox_no_js)/i%>
                  <img src='/assets/firefox-icon.png' class='detail_execution_device_report'></img>
                <% elsif ses.browser =~ /ie/i%>
                  <img src='/assets/ie-icon.png' class='detail_execution_device_report'></img>
                <% elsif ses.browser =~ /samsung/i%>
                  <img src='/assets/samsung.png' class='detail_execution_device_report' ></img>
                <% elsif ses.browser =~ /google/i%>
                  <img src='/assets/nexus.png' class='detail_execution_device_report' ></img>
                <% end %>
                <div class="exec_time"><i class="fa fa-clock-o" color="#01AEF2"></i> <%=parse_time(ses.start_time)%></div>
                <div class="exec_pass_fail"><font color="#01AEF2"><i class="fa fa-bar-chart-o"></i></font> <font class="ypv_pass"><%=ses.executions.collect{|e| e.result=~/pass/i ? 1 : 0}.sum%></font><font color="#999">/</font><font class="ypv_fail"><%=ses.executions.collect{|e| e.result=~/pass/i ? 0 : 1}.sum%></font><font color="#999">/</font><font color="#ccc"><%=ses.executions.size%></font></div>
              </div>
            <%end%>
            </div>
        <%end end %>
      <div class='time_extra' onclick="show_full_calendar()"><i class="fa fa-calendar-o"></i></div>
      <% end %>

      <% if @executionHistory %>
        <% @executionHistory.keys.sort.reverse.each do |m_key| %>
          <div class='time_month'><%=parse_month(m_key)%></div>
          <% @executionHistory[m_key].keys.sort.reverse.each do |d_key| %>
            <%if d_key == @execution.created_at.day%>
              <div class="time_date" style="color:#fff200" id="time_<%=m_key%>_<%=d_key%>" onmouseover="show_detail_exec_time(this.id,'display_<%=m_key%>_<%=d_key%>')"><%=parse_day(d_key)%></div>
            <%else%>
              <div class="time_date" id="time_<%=m_key%>_<%=d_key%>" onmouseover="show_detail_exec_time(this.id,'display_<%=m_key%>_<%=d_key%>')"><%=parse_day(d_key)%></div>
            <%end%>
            <div class="detail_exec_time_block" id="display_<%=m_key%>_<%=d_key%>" style="display:none">
            <% @executionHistory[m_key][d_key].each do |x| %>
                <%if x.created_at == @execution.created_at%>
                  <div class="one_single_exec">
                <%else%>
                  <div class="one_single_exec" onclick="execution_compare_with(<%=x.id%>)">
                <%end%>
                  <% if x.session %>
                  <% if x.session.browser =~ /chrome/i %>
                    <img src='/assets/chrome-icon.png' class='detail_execution_device_report'></img>
                  <% elsif x.session.browser =~ /(firefox|firefox_no_js)/i%>
                    <img src='/assets/firefox-icon.png' class='detail_execution_device_report'></img>
                  <% elsif x.session.browser =~ /ie/i%>
                    <img src='/assets/ie-icon.png' class='detail_execution_device_report'></img>
                  <% elsif x.session.browser =~ /samsung/i%>
                    <img src='/assets/samsung.png' class='detail_execution_device_report' ></img>
                  <% elsif x.session.browser =~ /google/i%>
                    <img src='/assets/nexus.png' class='detail_execution_device_report' ></img>
                  <% end end %>
                  <div class="exec_time"><i class="fa fa-clock-o" color="#01AEF2"></i> <%=x.created_at.strftime("%H:%M:%S")%></div>
                  <div class="exec_pass_fail">

                    <% if x.result=~/pass/i %>
                      <font class="ypv_pass"><i class="fa fa-smile-o"></i></font>
                    <%else%>
                      <font class="ypv_fail"><i class="fa fa-bug"></i></font>
                    <%end%>
                    <i style="color:white;cursor:pointer" class="fa fa-external-link" onclick="window.open('/execution/<%=x.id%>','_blank')"></i>
                  </div>
                </div>
            <%end%>
            </div>
          <%end end %>
        <div class='time_extra'></div>
      <% end %>
    </div>
  </nav>
