<% content_for :title, "Welcome" %>
<div class="main_container">
  <nav class="side_bar">
    <img src="/assets/WF-EN-C-L-W.gif" alt="some_text" width=60% style="margin-top:10px;margin-left:10px">
  </nav>

  <div class="header_container">Welcome and thanks for using YPv</div>



  <div class='info_container'>
    <div class="home_report_list_container" style="color:white !important">
      <% if @projects.size > 1 %>
        <% if @currentProject%>
          We cannot find any sessions under the project <%=@currentProject.name%> ! Please choose another one <br>
        <%end%>
        <select id="project" onchange="changeProject()">
            <%@projects.each do |p|%>
             <%if @currentProject.name == p.name%>
                <option selected="selected" value="<%=p.id%>"><%=p.name%></option>
              <%else%>
                <option value="<%=p.id%>"><%=p.name%></option>
            <%end end%>
        </select> 
      <%else%>
         We cannot find any sessions under the project!
      <%end%>
      <br> Make sure your project pytest is connected to this server.
    </div>

  </div>
</div>
